/* Add CSS styling here */
/* add reset */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
box-sizing:border-box;
margin: 0px;
padding: 0px;
max-width: 100%;

}
/* end reset code */

/* general styles */

body{
font-family: "Lato", sans-serif;
}

h1, h2, h3, h4 {
font-family: "Noto Serif", serif ;
}

section {

}

/* section styles */

/* header styles */

.headline {
display: flex;
justify-content: center;
}


/* navigation */

.topnav{
font-size: 18px;
display: flex;
justify-content: center;
color: white;
}

.title1 {
border: 2px solid #a9def9;
background-color: #a9def9;
color: white;
padding: 8px;

}
.title2 {
border: 2px solid #a9def9;
color: white;
padding: 8px;
}

.title3 {
border: 2px solid #a9def9;
color: white;
padding: 8px;
}

.title4 {
border: 2px solid #a9def9;
color: white;
padding:8px;
}

h1 {
margin-bottom: 16px;
}
h2{
text-align: center;
margin: 48px;
}

.intro {
width: 600px;
display: flex;
justify-content: center;
}

p{
width: 600px;
}

.introparag {
display:flex;
justify-content: center;
margin-bottom: 48px;
}

.largeimage {
width: 1200px;
margin: auto;
padding: 24px;
}

img {
border-radius: 4px;
padding: 24px;
}

#projectsgroup {
margin-top: 64px;
margin-bottom: 64px;
margin-left: 24px;
height: 150px;
display: flex;
justify-content: space-evenly;
}

#projectsgroup img {
    width: 200px;

}
.grouptext {
margin-right: 48px;
width: 200px;
font-size: 18px;

}


.button {
background-color: #060c4a;
border: none;
color: white;
padding: 15px 25px;
text-align: center;
font-size: 18px;
cursor: pointer;
border-radius: 8px;
margin: 16px;
}
footer {
    display: flex;
    justify-content: center;
 background-color: #a9def9;   
    margin-bottom:4px;
}

